.side-nav-bar {
    max-width: 300px;
    height: 100vh;
    width: 100%;

    // background-color: var(--lightest-opacity);
    .nav-comp {
        position: fixed;
        height: 100vh;
        top: 0;
        width: 100%;
        background-color: var(--lightest-opacity);
        z-index: 10;
        backdrop-filter: blur(4px);
        max-width: 300px;
        padding: clamp(9px, 3vw, 40px) clamp(9px, 3vw, 40px) 1px clamp(9px, 3.9vw, 50px);
        overflow: auto;

        &::-webkit-scrollbar {
            appearance: none;
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e8e8e8;
        }

        .sub-side-nav {}
    }
}

.content-right-frame {
    width: calc(100% - 300px);
    max-width: 1300px;
    padding: clamp(10px, 4vw, 60px);
}

.primary-btn,
.primary-btn2 {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--white);
    border: 2px solid var(--blue-50);
    border-radius: 12px;
    color: var(--blue);
    font-weight: bold;
    font-size: 18px;
    outline: none;
    padding: 16px 24px 16px 16px;
    cursor: pointer;
    &:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}

.primary-btn2 {
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.ellipsis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-side-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    max-height: 800px;

    .logo {
        max-width: 147px;

    }

    .logo-para {
        margin-bottom: 20px;
        margin-bottom: 0;
        max-height: 104px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .list-nav-ul {
        list-style: none;
        padding: 0;
        margin: 0;

        // margin: 30px 0;
        li {
            padding: 10px 0;
            color: var(--fg);
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            cursor: pointer;
            transition: all 0.4s;
            transform-origin: left;
            &:hover {
                color: var(--blue);
                transform: scale(1.07);
                transition: all 0.4s;
            }

            .icon {
                font-size: 24px;

            }
        }

        .active {
            color: var(--blue);
        }
    }

    .grey-fade {

        // margin: 45px 0 50px 0;
        li {
            color: var(--fg-50);
        }
    }

    .icons-frame {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: 12px;
        color: var(--fg-50);
    }

    .copy-right {
        color: var(--fg-50);
        // padding: 28px 0 10px 0;
    }
}

.hero-section-wrapper {
    max-width: 780px;
    padding: 80px 24px 40px;
}

.capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.my-30 {
    margin: 30px 0;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.m-0 {
    margin: 0;
}

.home-specialties-section {
    margin: 60px 0;

    h3 {
        padding: 0 24px;
    }

    .special-image-frame {
        margin-top: 30px;
        width: 100%;
        aspect-ratio: 1.3;
        border-radius: 20px;
        max-height: 624px;
        display: flex;
        align-items: end;
        justify-content: center;
        overflow: hidden;
        position: relative;
        height: 100%;
        z-index: 1;
        border-radius: 30px;
        overflow: hidden;

        .spacial-image {
            position: absolute;
            height: auto;
            z-index: -1;
            object-fit: cover;
            width: 100%;
            height: 100%;
            animation: zoomInOut 9s ease-in-out infinite;
        }
        @keyframes zoomInOut {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }

        .special-inside-content {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            padding: 0 clamp(10px, 6vw, 70px);
            // padding-top: clamp(40px,16vw,185px);
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

            .holo-frame {
                height: 35px;
                border-radius: 16px;
                padding: 8px 16px;
                color: var(--white);
                background-color: var(--fg-50);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 54px;

            }

            p {
                margin: 20px 0 0;
            }
        }
    }
}

.mb-header {
    display: none;
}

.about-us-section {
    h3 {
        margin-bottom: 16px;
    }

    .about-img-frame {
        margin: 39px 0;
        width: 100%;
        aspect-ratio: 1.4;
        border-radius: 20px;
        max-height: 640px;
        display: flex;
        align-items: end;
        justify-content: center;
        overflow: hidden;
        position: relative;
        height: 100%;
        z-index: 1;
        border-radius: 30px;
        overflow: hidden;
        padding: clamp(16px, 5vw, 81px);

        .about-image {
            position: absolute;
            height: auto;
            top: 0;
            z-index: -1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .about-inside-content {
            p {
                margin-bottom: 16px;
            }

            .about-author {
                display: flex;
                flex-direction: column;

            }
        }
    }

    .why-us-wrapper {
        padding: 0 24px;

        h5 {
            margin-bottom: 20px;
        }

        .why-us-list {
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 14px;
                display: flex;
                align-items: start;
                justify-content: start;
                gap: 13px;

                .icon {
                    font-size: 30px;
                    margin-top: 6px;
                }
            }
        }
    }
}

.recent-works-us-section {
    padding: 90px 24px;

    h3 {
        margin-bottom: 16px;
    }

    .recent-work-svg-frame {

        margin: 39px 0;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 20px;
        max-height: 1040px;
        display: flex;
        align-items: end;
        justify-content: center;
        overflow: hidden;
        position: relative;
        height: 100%;
        z-index: 1;
        border-radius: 30px;
        overflow: hidden;
        padding: clamp(16px, 5vw, 81px);

        .recent-w-image {
            position: absolute;
            height: auto;
            top: 0;
            z-index: -1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    place-items: center;
    overflow: hidden;

    .marquee {
        width: calc(250px * 18);
        display: flex;
        max-width: 300px;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 13px;
        animation: marquee 40% linear infinite;
    }

}
@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(calc(-250px * 9));
    }
}
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        z-index: 2;
    }
    &:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }
    &:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }
    &:hover .logos-slide {
        animation-play-state: paused;
    }

    .logos-slide {
        display: inline-block;
        animation: 35s slide infinite linear;

        img {
            height: 50px;
            margin: 0 40px;
        }
    }
}

.grey-AEA {
    color: #AEAEAE;
}

.feature-works-section {
    padding: 80px 0;

    h5 {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .feature-works-card-frame {
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 52px;
        flex-wrap: wrap;
        gap: clamp(10px, 2.4vw, 60px);
        max-width: 900px;

        .feature-card {
            width: 40%;
            max-width: 320px;
            border-radius: 20px;
            overflow: hidden;

            .gui-img {
                width: 100%;
                border-radius: 20px;
                height: 470px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text-content {
                padding: 20px 0;

                h4 {
                    width: 100%;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-bottom: 8px;

                    .icon {
                        cursor: pointer;
                    }
                }

            }

        }
    }
}

// Blogs Section Start 
.blogs-main-section {
    padding: 100px 0;

    h3 {
        margin-bottom: 16px;
    }

    .blog-card-frame {
        margin: 60px 0;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: clamp(10px, 3vw, 40px);
        max-width: 900px;
    }

    .blogs-card {
        width: 100%;
        max-width: 330px;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 0 10px var(--light-op-black);

        .blogs-card-img {
            background-color: rgb(243, 243, 243);
            width: 330px;
            height: 160px;
        }

        .blogs-card-bottom-section {
            padding: clamp(16px, 2.3vw, 30px);

            .blogs-buttons {
                height: 40px;
                width: auto;
                padding: 11px 15px;
                background-color: var(--black);
                color: var(--bg);
                border-radius: 8px;
                margin-top: 20px;
            }
        }
    }
   

}

// FORM START 
.about-form-main-frame {
    .recent-work-svg-frame {
        aspect-ratio: auto;
        padding: clamp(20px, 6vw, 120px);
    }
}

.send-your-req-form {
    max-width: 454PX;
    width: 100%;
    margin: auto;
    background-color: var(--white);
    border-radius: 20px;
    padding: 40px clamp(13px, 2.5vw, 40px);

    .form-submit {
        width: 100%;
        border: none;
        border-radius: 8px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 16px;
        outline: none;
        color: var(--white);
        background-color: var(--black-op6);
    }
}

.label-frame {
    width: 100%;

    p {
        color: #888888;
        font-size: 12px;
        line-height: 1.2em;
        font-weight: 500;
        text-align: start;
        margin: 0 0 10px;
    }

    .fields-frame {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        .input-box {
            width: 100%;
            outline: none;
            border: none;
            color: #999999;
            font-size: 10px;
            line-height: 1.1em;
            border-radius: 10px;
            background-color: rgba(187, 187, 187, .15);
            padding: 7px 15px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

}

.select-bluehence-filed {
    height: 40px !important;

    .ant-select-selector {
        width: 100%;
        outline: none !important;
        border: none;
        color: #999999;
        font-size: 10px;
        line-height: 1.1em;
        border-radius: 10px;
        background-color: rgba(187, 187, 187, .15) !important;
        padding: 7px 15px;
        height: 100%;
        border: none !important;
        box-shadow: none !important;
        text-align: start;

    }

}

.hidden {
    display: none;
}
@media (max-width:920px) {
    .mb-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        height: 80px;
        background-color: var(--white);

        .logo {
            max-width: 147px;
            width: 100%;
        }

        .menue {
            cursor: pointer;
        }

    }

    .side-nav-bar {
        max-width: 100%;
        width: auto;
        text-align: center;
        background-color: white;

        .nav-comp {
            max-width: 100%;
            top: 80px;
            padding: 0 clamp(16px, 5%, 100px);
            left: 50%;
            background-color: white;
            backdrop-filter: blur(18) !important;
            transform: translateX(-50%);
            transition: all 0.6s;
            overflow: hidden;
            // height: 0;
            height: 0;
            .sub-side-nav {
                .logo {
                    display: none;
                }

                p {
                    text-align: start;
                }
            }
        }
    }

    .content-right-frame {
        width: 100%;

        padding: clamp(16px, 3vw, 60px);
    }
    #so:checked~ {
        .side-nav-bar {
            .nav-comp {
                height: calc(100vh - 80px);
                padding: 10px clamp(16px, 5%, 100px);
                transition: all 0.6s;
            }
        }
    }
    .feature-works-section .feature-works-card-frame .feature-card {
        width: 100%;
    }
    .blogs-main-section {
        .blog-card-frame {
            justify-content: center;
            gap: 33px;
            
        }
    }
    .feature-works-section{
        padding:40px 0 ;
        .feature-works-card-frame{
            justify-content: center;
            .feature-card{
                .gui-img{
                    height: 350px;
                }
            }
        }
    }
    .recent-works-us-section{
        padding: 40px 0;
    }
}
